/* ------------------------------------------------- */
/* Responsive framework                              */
/* ------------------------------------------------- */
* {
    box-sizing: border-box; /* Para encuadrar bien las cajas */
    padding: 0.5rem;

}

/* para hacerlas responsive les tenemos quedar un maximo de ancho */
img { 
    max-width: 100%;
}



 /* {
    margin: 0px 0.25rem;
}

Esto significa que todas las etiquetas que contengan la el atributo class = col y lo que sea se verán afectadas  first child para el primer "Div" dentro de la etiqueta html o last child para el último 

[class|="col"]:first-child { 
    margin-left: 0px;
}

[class|="col"]:last-child { 
    margin-right: 0px;
} */

[class="col"] + [class="col"] {
    margin-left: 0.5rem;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 { width: 8.33% }
.col-2 { width: 16.66% }
.col-3 { width: 25% }
.col-4 { width: 33.33% }
.col-5 { width: 41.66% }
.col-6 { width: 50% }
.col-7 { width: 58.33% }
.col-8 { width: 66.66% }
.col-9 { width: 75% }
.col-10 { width: 83.33% }
.col-11 { width: 91.66% }
.col-12 { width: 100% }